:root {
  --aqua-light: #80ffff;
  --cornflower-light: #8db0f2;
  --dodgerBlue: dodgerblue;
  --midNightBlue: midnightblue;
  --white-alpha-25: rgba(255, 255, 255, 0.25);
  --white-alpha-40: rgba(255, 255, 255, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to bottom right,
    var(--aqua-light),
    var(--cornflower-light)
  );
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  background-color: var(--white-alpha-25);
  width: 1200px;
  height: 90vh;
  border: 1px solid var(--white-alpha-40);
  border-radius: 30px;
  margin: auto;
  padding: 50px;
}

div:not(.heading) {
  border: 1px solid var(--cornflower-light);
}

.heading {
  color: var(--midNightBlue);
  text-align: center;
  margin-bottom: 20px;
}

button {
  margin: 10px;
}
/* class - 0 */
.btn-1 {
  position: relative;
  width: 200px;
  height: 60px;
  background-color: transparent;
  border: 3px solid crimson;
  color: crimson;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-1:hover {
  background-color: crimson;
  color: white;
}

/* class-1 */

.btn-2 {
  position: relative;
  height: 60px;
  width: 210px;
  border: none;
  outline: none;
  background-color: var(--midNightBlue);
  color: white;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

.btn-2::before {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    orange,
    yellow,
    green,
    aqua,
    blue,
    pink,
    red
  );
  background-size: 400%;
  z-index: -1;
  opacity: 0;
  filter: blur(2px);
  transition: opacity 0.3s ease-in-out;
  animation: animate 40s linear infinite;
}

.btn-2:hover::before {
  opacity: 1;
}

.btn-2:hover:active:before {
  filter: blur(1px);
}

.btn-2:hover:active {
  background-color: transparent;
  color: #111;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* class 2 */

.class2 {
  border: 1px solid var(--dodgerBlue);
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.class2::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: var(--dodgerBlue);
  z-index: -1;
  transition: 0.8s;
}

.btn-3,
.btn-4 {
  color: var(--dodgerBlue);
}

.btn-5,
.btn-6 {
  color: #fff;
}

.btn-3:hover,
.btn-4:hover {
  color: #fff;
}

.btn-5:hover,
.btn-6:hover {
  color: #3498db;
}

.btn-3::before,
.btn-5::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn-4::before,
.btn-6::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn-5::before,
.btn-6::before {
  height: 180%;
}

.btn-3:hover::before,
.btn-4:hover::before {
  height: 180%;
}

.btn-5:hover::before,
.btn-6:hover::before {
  height: 0%;
}

/* class 3 */
.btn-7 {
  width: 200px;
  height: 60px;
  color: var(--midNightBlue);
  background-color: var(--dodgerBlue);
  border: 1px solid var(--dodgerBlue);
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 var(--dodgerBlue);
  transition: ease-out 0.5s;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}

.btn-7:hover {
  box-shadow: inset 200px 0 0 0 var(--midNightBlue);
  border: 1px solid var(--midNightBlue);
  color: var(--dodgerBlue);
}

.btn-8 {
  width: 200px;
  height: 60px;
  color: var(--dodgerBlue);
  background-color: transparent;
  border: 3px solid var(--dodgerBlue);
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-8:hover {
  color: var(--dodgerBlue);
}

.btn-8::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: -1px;
  left: 50%;
  right: 50%;
  background-color: var(--midNightBlue);
  transition: 0.5s all ease;
}

.btn-8:hover::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

/* class - 4 */
.class4 {
  position: relative;
  background-color: transparent;
  color: var(--midNightBlue);
  font-size: 18px;
  border: 2px solid var(--midNightBlue);
  padding: 14px 60px;
  text-transform: capitalize;
  border-radius: 5px;
  overflow: hidden;
  transition: 1s all ease;
}
.class4::before {
  background: var(--dodgerBlue);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.class4.btn-9::before {
  width: 0%;
  height: 100%;
}

.class4.btn-9:hover::before {
  width: 100%;
}

.class4.btn-10::before {
  width: 100%;
  height: 0%;
}
.class4.btn-10:hover::before {
  height: 100%;
}

.class4.btn-11::before {
  width: 100%;
  height: 0%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.class4.btn-11:hover::before {
  height: 380%;
}

.class4.btn-12::before {
  width: 100%;
  height: 0%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.class4.btn-12:hover::before {
  height: 380%;
}

/* class - 5 */
.class5 {
  position: relative;
  background-color: transparent;
  color: var(--midNightBlue);
  font-size: 18px;
  border: none;
  padding: 14px 70px;
  text-transform: capitalize;
  border-radius: 5px;
  overflow: hidden;
  transition: 1s all ease;
}
.class5::before {
  background: var(--dodgerBlue);
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  /* width: 50%; */
  z-index: -1;
  transition: all 0.6s ease;
}

.btn-13 span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, var(--dodgerBlue), var(--midNightBlue));
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.btn-13 span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--dodgerBlue),
    var(--midNightBlue)
  );
  animation: animate2 2s linear infinite;
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.btn-13 span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, var(--dodgerBlue), var(--midNightBlue));
  animation: animate3 2s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.btn-13 span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, var(--dodgerBlue), var(--midNightBlue));
  animation: animate4 2s linear infinite;
}

@keyframes animate4 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
